body, html{
    height: 97%;
    margin: 0;
}

#root{
    height: 100%;
}

.outer-frame{
    position: relative;
    height: 100% !important;
}

.inner-frame{
    padding-top: 20px;
    text-align: center;
}

.property-item{
    border-radius: 7px !important;
    background : #FFFFFF !important;
    margin : 5px !important;
}

.booking-dialog-holder{
    padding: 20px;
    border-radius: 7px;
    background: #FFFFFF;
}

.text-field{
    width: 100%;
}

.reload-fab{
    position: absolute !important;
    right: 30px;
    bottom: 10px;
}