body, html{
    height: 97%;
    margin: 0;
    background: #F5F5F5;
}

#root{
    height: 100%;
}

.outer-frame{
    position: relative;
    height: 100% !important;
}

.inner-frame{
    padding-top: 20px;
    text-align: center;
}

.property-item{
    border-radius: 7px !important;
    background : #FFFFFF !important;
    margin : 5px !important;
}

.booking-dialog-holder{
    padding: 20px;
    border-radius: 7px;
    background: #FFFFFF;
    text-align: center;
}

.text-field{
    width: 100%;
}

.search-prop-input{
    padding: 20px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    width: 100%;
    box-sizing: border-box;
    background: #F5F5F5
}

textarea:focus, input:focus{
    outline: none;
}

.book-btn{
    margin-top: 15px !important;
}

.padding-lr{
    padding-left: 5px;
    padding-right: 5px
}